/* Desktop first */
.ioj-carousel {
  overflow: hidden;
}

.ioj-nav {

}

.ioj-nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0 30px;
  list-style: none;
  background-color: #1b7cd1;
  border-bottom: 2px solid #fff;
}

.ioj-nav > ul > li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}

.ioj-nav > ul > li > a {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Graphik Medium', 'Arial Black', sans-serif;
  color: #fff;
}

.ioj-nav > ul > li > a:hover:after,
.ioj-nav > ul > li > a.active:after {
  position: absolute;
  display: block;
  bottom: 13px;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  content: '';
}

.ioj-nav > ul > li > a.active {
  font-family: 'Graphik Bold', 'Arial Black', sans-serif;
}

.ioj-nav--mobile {
  display: none;
}

.ioj-carousel-slide {
  display: none;
  position: relative;
  height: 100%;
}

.ioj-carousel-slide__content {
  position: relative;
  height: 595px;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.ioj-carousel-slide--stable {

}

.ioj-carousel-slide--stable .ioj-carousel-slide__content {
  background-image: url('../img/page_1_stable.svg');
}

.ioj-carousel-slide--efficient .ioj-carousel-slide__content {
  background-image: url('../img/page_2_efficient.svg');
}

.ioj-carousel-slide--predictive .ioj-carousel-slide__content {
  background-image: url('../img/page_3_predictive.svg');
}

.ioj-carousel-slide--future .ioj-carousel-slide__content {
  background-image: url('../img/page_4_futureready_withbubbles.svg');
}

.ioj-carousel-slide.active {
  display: block;
}
/* OPERATIONS SLIDES */
.ioj-operations-title {
  margin: 0 0 10px;
  font-family: 'Graphik Semibold', 'Arial Black', sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 1;
  color: #fff;
}

.ioj-operations-description {
  max-width: 71%;
  font-family: 'Graphik Regular', 'Arial Black', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.ioj-carousel-slide--predictive .ioj-operations-description {
  max-width: 75%;
}

.ioj-operations-more-link {
  display: none;
}

.ioj-operations-details {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin-top: 57px;
}

.ioj-carousel-slide--efficient .ioj-operations-details,
.ioj-carousel-slide--predictive .ioj-operations-details,
.ioj-carousel-slide--future .ioj-operations-details {
  margin-top: 25px;
}

.ioj-operations-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 1px #000;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.ioj-operations-image:hover,
.ioj-operations-image:focus,
.ioj-operations-image:active {
  transform: scale(1.1);
}

.ioj-operations-image svg {
  width: 30px;
  height: 30px;
  fill: #1b7cd1;
}

.ioj-operations-image-block.active .ioj-operations-image {
  background-color: #1b7cd1;
}

.ioj-operations-image-block.active .ioj-operations-image svg {
  fill: #fff;
}

.ioj-operation-image-title {
  padding-top: 7px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.ioj-operation-image-description {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}

.ioj-operation-image-description ul {
  margin: 0;
  padding-left: 10px;
}

.ioj-operation-image-description li {
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}

.ioj-operations-back-link {
  display: none;
}

/* Tablet and Mobile Styles */
@media (max-width: 999px) {
  .ioj-nav--desktop {
    display: none;
  }

  .ioj-nav--mobile {
    display: block;
  }


  .ioj-nav > ul > li > a,
  .ioj-nav > ul > li > a.active {
    display: flex;
    align-items: center;
    height: 100%;
    bottom: 0;
    border: none;
  }

  .ioj-nav > ul > li > a.active:after {
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 4px;
    content: '';
    z-index: 3;
    border-radius: 2px;
    background-color: #fff;
  }

  .ioj-carousel-slide__content {
    height: 800px;
  }

  /*.ioj-carousel-slide__content.active {
    height: 850px;
  }*/

  .ioj-carousel-slide--stable .ioj-carousel-slide__content {
    background-image: url('../img/mobile_stable.svg');
  }

  .ioj-carousel-slide--efficient .ioj-carousel-slide__content {
    background-image: url('../img/mobile_efficient.svg');
  }

  .ioj-carousel-slide--predictive .ioj-carousel-slide__content {
    background-image: url('../img/mobile_predictive_v2.svg');
  }

  .ioj-carousel-slide--future .ioj-carousel-slide__content {
    background-image: url('../img/mobile_future.svg');
  }

  .ioj-operations-title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    font-size: 20px;
    z-index: -1;
    color: #fff;
    background-color: #1b7cd1;
    transition: top 0.4s ease-in;
    opacity: 0;
  }

  .ioj-carousel-slide__content.active .ioj-operations-title {
    top: -50px;
    opacity: 1;
  }

  .ioj-operations-outcomes {
    display: none;
  }

  .ioj-operations-more-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'Graphik Bold', 'Arial Black', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }

  .ioj-operations-more-link:hover,
  .ioj-operations-more-link:focus,
  .ioj-operations-more-link:active {
    color: #fff;
  }

  .ioj-operations-more-link:after {
    position: absolute;
    right: -25px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/icons/Arrow_Operations.svg');
    content: '';
  }
  
  .ioj-operations-details {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 30px;
    background-color: #fff;
  }

  .ioj-carousel-slide--efficient .ioj-operations-details,
  .ioj-carousel-slide--predictive .ioj-operations-details,
  .ioj-carousel-slide--future .ioj-operations-details {
    margin-top: 0;
  }

  .ioj-operations-image-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
  }

  .ioj-operations-image {
    flex-shrink: 0;
  }

  .ioj-operation-image-title,
  .ioj-operation-image-description {
    color: #000;
  }

  .ioj-operation-image-description ul {
    padding-left: 0;
  }

  .ioj-operation-image-description li {
    color: #000;
    font-size: 20px;
    line-height: 30px;
  }

  .ioj-operation-image-description {
    display: block;
    position: static;
    margin-left: 35px;
    max-width: 530px;
    font-size: 20px;
    line-height: 30px;
  }

  .ioj-operations-details .ioj-operations-image {
    background-color: #1b7cd1;
  }

  .ioj-operations-details .ioj-operations-image svg {
    fill: #fff;
  }

  .ioj-carousel-slide__content.active .ioj-operations-details {
    display: flex;
  }

  .ioj-operations-back-link {
    display: flex;
    align-items: center;
    position: absolute;
    height: 20px;
    bottom: 20px;
    right: 20px;
    font-weight: 500;
    font-family: "Graphik Medium", "Arial Black", sans-serif;
    font-size: 20px;
    line-height: 17px;
    color: #1b7cd1
  }

  .ioj-operations-back-link:before {
    position: absolute;
    top: 0;
    left: -25px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/icons/Arrow_Back.svg');
    content: '';
  }

  .ioj-operations-back-link:hover,
  .ioj-operations-back-link:focus,
  .ioj-operations-back-link:active {
    color: #1b7cd1
  }

  .ioj-image-animations {
    display: none;
  }
}

/* Mobile Only Styles */
@media (max-width: 767px) {
  .ioj-carousel-slide__content {
    height: 460px;
  }

  .ioj-nav > ul {
    height: 35px;
    padding: 0 12px;
  }

  .ioj-nav > ul > li > a {
    font-size: 13px;
  }

  .ioj-carousel-slide__content {
    padding: 20px 15px;
  }

  .ioj-operations-description {
    font-size: 14px;
    line-height: 22px;
    max-width: 100%;
  }

  .ioj-carousel-slide--predictive .ioj-operations-description {
    max-width: 100%;
  }

  .ioj-operations-title {
    height: 35px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 17px;
  }

  .ioj-carousel-slide__content.active .ioj-operations-title {
    top: -35px;
  }

  .ioj-operations-details {
    padding: 20px 15px;
  }

  .ioj-operations-image {
    width: 36px;
    height: 36px;
  }

  .ioj-operations-image svg {
    width: 21px;
    height: 21px;
  }

  .ioj-operation-image-description,
  .ioj-operation-image-description li {
    font-size: 12px;
    line-height: 20px;
  }

  .ioj-operations-back-link,
  .ioj-operations-more-link {
    font-size: 14px;
    line-height: 17px;
  }
}